<html>
  <head>
    <title>Blog Magdy</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls blog</a></h1>
    </div>

    <div>
      <p>published 08-04-2016</p>
      <h2><a href="">My first post</a></h2>
      <p>Pora na kolejne ćwiczenie, które powinno pokazać Ci filozofię pisania bardziej zaawansowanych stron internetowych w HTML5.</p>
    </div>

    <div>
      <p>published 09-04-2016</p>
      <h2><a href=""> My second post</a></h2>
      <p>Spróbujmy uzyskać poniższy efekt. Uznajmy, że jest to artykuł na bloga. 

      </p>
    </div>


    </div>


  <p>Hej!</p>
  <p>To działa!</p>
</body>
  </html>
